<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button *ngIf="history.canGoBack" (click)="history.goBack()">
				<ion-icon slot="icon-only" [name]="dbapp.icon.back"></ion-icon>{{ history.backButtonText }}
			</ion-button>
			<ion-menu-button *ngIf="!history.canGoBack"></ion-menu-button>
		</ion-buttons>
		<ion-title *ngIf="item$ | async as row">{{ row.title }}</ion-title>
		<ion-buttons slot="end">
			<ng-container *ngIf="user.permissions.edit.userlevelpermissions">
				<ion-button *ngIf="item$ | async as row" [routerLink]="['/userlevelpermissionsedit', row.userlevelid.dbValue, row.tablename.dbValue]">
					<ion-icon slot="icon-only" [name]="dbapp.icon.edit"></ion-icon>
				</ion-button>
			</ng-container>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<ng-container *ngIf="item$ | async as row">
		<div class="item-view" class="ion-padding">
			<!-- userlevelid-->
			<p class="field field-userlevelid" *ngIf="row.userlevelid.visible">
				<span class="field-caption">{{ '__tables.userlevelpermissions.fields.userlevelid.caption' | translate }}</span>
				<span>{{ row.userlevelid.value | localNumber:'1.0-0' }}</span>
			</p>
			<!-- tablename-->
			<p class="field field-tablename" *ngIf="row.tablename.visible">
				<span class="field-caption">{{ '__tables.userlevelpermissions.fields.tablename.caption' | translate }}</span>
				<span>{{ row.tablename.value }}</span>
			</p>
			<!-- permission-->
			<p class="field field-permission" *ngIf="row.permission.visible">
				<span class="field-caption">{{ '__tables.userlevelpermissions.fields.permission.caption' | translate }}</span>
				<span>{{ row.permission.value | localNumber:'1.0-0' }}</span>
			</p>
		</div>
	</ng-container>
</ion-content>