<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button *ngIf="history.canGoBack" (click)="history.goBack()">
				<ion-icon slot="icon-only" [name]="dbapp.icon.back"></ion-icon>{{ history.backButtonText }}
			</ion-button>
			<ion-menu-button *ngIf="!history.canGoBack"></ion-menu-button>
		</ion-buttons>
		<ion-title>{{ 'EDIT' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<form [formGroup]="formGroup" (ngSubmit)="edit()" *ngIf="item$ | async as row">
		<ion-list lines="full">
			<!-- id -->
			<ion-item *ngIf="row.id.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.id.caption' | translate }}</ion-label>
				<ion-text class="field field-id" *ngIf="row.id.visible">
					<span>{{ row.id.value }}</span>
				</ion-text>
			</ion-item>
			<!-- pid -->
			<ion-item *ngIf="row.pid.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.pid.caption' | translate }}</ion-label>
				<ng-template [ngIf]="foreignKey.pid" [ngIfElse]="pid_else">
				<ion-text class="field field-pid" *ngIf="row.pid.visible">
					<span>{{ row.pid.value }}</span>
				</ion-text>
				</ng-template>
				<ng-template #pid_else>
					<ionic-selectable #pid
						formControlName="pid"
						itemValueField="lf"
						itemTextField="name"
						[shouldStoreItemValue]="true"
						clearButtonText="{{ 'CLEAR_BUTTON' | translate }}"
						closeButtonText="{{ 'CANCEL_BUTTON' | translate }}"
						confirmButtonText="{{ 'OK_BUTTON' | translate }}"
						searchPlaceholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
						searchFailText="{{ 'SEARCH_FAIL_TEXT' | translate }}"
						closeButtonSlot="start"
						itemIconSlot="start"
						[items]="items.lookupTables.pid"
						[canClear]="true"
						placeholder="{{ '__tables.kitab_detil.fields.pid.caption' | translate }}"
						data-field="pid">
					</ionic-selectable>
				</ng-template>
			</ion-item>
			<!-- judul -->
			<ion-item *ngIf="row.judul.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.judul.caption' | translate }}</ion-label>
				<ion-input #judul formControlName="judul" size="30" maxlength="255" placeholder="{{ '__tables.kitab_detil.fields.judul.caption' | translate }}"></ion-input>
			</ion-item>
			<!-- isi -->
			<ion-item *ngIf="row.isi.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.isi.caption' | translate }}</ion-label>
				<ion-textarea #isi formControlName="isi" cols="35" rows="4" placeholder="{{ '__tables.kitab_detil.fields.isi.caption' | translate }}"></ion-textarea>
			</ion-item>
			<!-- gambar -->
			<ion-item *ngIf="row.gambar.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.gambar.caption' | translate }}</ion-label>
				<ion-row style="width: 100%;">
					<!-- File Input -->
					<ion-col class="button-file">
						<ion-button type="button" [color]="dbapp.color.secondary" expand="block" size="default">
							<file-upload #gambar
								formControlName="gambar"
								class="ion-justify-content-center"
								[animation]="false"
								[multiple]="false"
								>
								<ng-template #placeholder>
									<ion-icon [name]="dbapp.icon.document" class="ion-margin-end"></ion-icon>
									<span class="upload-text upload-source">{{ 'FILE' | translate }}</span>
								</ng-template>
								<ng-template let-i="index" let-file="file" let-control="control" #item></ng-template>
							</file-upload>
						</ion-button>
					</ion-col>
					<!-- Gallery -->
					<ion-col class="button-gallery">
						<ion-button type="button" [color]="dbapp.color.secondary" expand="block" size="default" (click)="selectImage('PHOTOLIBRARY', 'gambar')">
							<ion-icon [name]="dbapp.icon.image" class="ion-margin-end"></ion-icon>
							<span class="upload-source">{{ 'GALLERY' | translate }}</span>
						</ion-button>
					</ion-col>
					<!-- Camera -->
					<ion-col class="button-camera">
						<ion-button type="button" [color]="dbapp.color.secondary" expand="block" size="default" (click)="selectImage('CAMERA', 'gambar')">
							<ion-icon [name]="dbapp.icon.camera" class="ion-margin-end"></ion-icon>
							<span class="upload-source">{{ 'CAMERA' | translate }}</span>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-list class="file-list" *ngIf="row.gambar.files.length">
					<ion-item *ngFor="let file of row.gambar.files">
						<ion-thumbnail slot="start">
							<ion-img [src]="file.previewUrl | authFile | async"></ion-img>
						</ion-thumbnail>
						<ion-label>
							{{ file.name }}
						</ion-label>
						<ion-button slot="end" fill="clear" (click)="removeFile('gambar', file)">
							<ion-icon slot="icon-only" [name]="dbapp.icon.delete"></ion-icon>
						</ion-button>
					</ion-item>
				</ion-list>
				<input type="hidden" formControlName="fn_gambar"/>
			</ion-item>
			<div *ngIf="submitted && row.gambar.visible && f.gambar.errors" class="ion-padding validate-error">
				<ng-container *ngIf="f.gambar.errors">
					<div *ngIf="row.gambar.errorMessage; else gambarError"><ion-text [color]="dbapp.color.danger">{{ row.gambar.errorMessage }}</ion-text></div>
					<ng-template #gambarError>
						<div *ngIf="f.gambar.errors.fileTypes"><ion-text [color]="dbapp.color.danger"><ion-text [translate]="'UPLOAD_FILE_TYPE_ERROR'" [translateParams]="{s: f.gambar.errors.fileTypes[0].actual }"></ion-text></ion-text></div>
					</ng-template>
				</ng-container>
			</div>
			<!-- keterangan -->
			<ion-item *ngIf="row.keterangan.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.keterangan.caption' | translate }}</ion-label>
				<ion-input #keterangan formControlName="keterangan" size="30" maxlength="255" placeholder="{{ '__tables.kitab_detil.fields.keterangan.caption' | translate }}"></ion-input>
			</ion-item>
			<!-- tag -->
			<ion-item *ngIf="row.tag.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.tag.caption' | translate }}</ion-label>
				<ion-input #tag formControlName="tag" size="30" maxlength="255" placeholder="{{ '__tables.kitab_detil.fields.tag.caption' | translate }}"></ion-input>
			</ion-item>
			<!-- rujukan -->
			<ion-item *ngIf="row.rujukan.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.rujukan.caption' | translate }}</ion-label>
				<ion-input #rujukan formControlName="rujukan" size="30" maxlength="255" placeholder="{{ '__tables.kitab_detil.fields.rujukan.caption' | translate }}"></ion-input>
			</ion-item>
			<!-- aktif -->
			<ion-item *ngIf="row.aktif.visible">
				<ion-label position="stacked">{{ '__tables.kitab_detil.fields.aktif.caption' | translate }}</ion-label>
				<ionic-selectable #aktif
					formControlName="aktif"
					itemValueField="lf"
					itemTextField="name"
					[shouldStoreItemValue]="true"
					clearButtonText="{{ 'CLEAR_BUTTON' | translate }}"
					closeButtonText="{{ 'CANCEL_BUTTON' | translate }}"
					confirmButtonText="{{ 'OK_BUTTON' | translate }}"
					searchPlaceholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
					searchFailText="{{ 'SEARCH_FAIL_TEXT' | translate }}"
					closeButtonSlot="start"
					itemIconSlot="start"
					[items]="items.lookupTables.aktif"
					[canClear]="true"
					placeholder="{{ '__tables.kitab_detil.fields.aktif.caption' | translate }}"
					data-field="aktif">
				</ionic-selectable>
			</ion-item>
		</ion-list>
		<ion-row>
			<ion-col>
				<ion-button type="submit" [color]="dbapp.color.primary" expand="block" [disabled]="saving">{{ 'EDIT_BUTTON' | translate }}<ion-spinner *ngIf="saving" [name]="dbapp.icon.save"></ion-spinner></ion-button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>